<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="v1.0.0">

    <application
        android:label="PandaSU LSPosed Helper">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="PandaSU LSPosed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="隐藏 Root/Magisk 状态，Hook PackageManager API 过滤敏感包名" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
        <meta-data
            android:name="xposedscope"
            android:value="[android]" />

    </application>

</manifest>
